@font-face {
  font-family: "AlfaLaval Text";
  src: url("AlfaLaval-Regular.woff2") format("woff2"),
       url("AlfaLaval-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AlfaLaval Text";
  src: url("AlfaLaval-Bold.woff2") format("woff2"),
       url("AlfaLaval-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlfaLaval Text";
  src: url("AlfaLaval-Italic.woff2") format("woff2"),
       url("AlfaLaval-Italic.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
