@font-face {
  font-family: "AlfaLaval Text";
  src:
    local("AlfaLaval Text"),
    url("/assets/fonts/alfa-laval-text-regular.woff2") format("woff2"),
    url("/assets/fonts/alfa-laval-text-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlfaLaval Text";
  src:
    local("AlfaLaval Text Bold"),
    url("/assets/fonts/alfa-laval-text-bold.woff2") format("woff2"),
    url("/assets/fonts/alfa-laval-text-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlfaLaval Text";
  src:
    local("AlfaLaval Text Italic"),
    url("/assets/fonts/alfa-laval-text-italic.woff2") format("woff2"),
    url("/assets/fonts/alfa-laval-text-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
