@font-face {
  font-family: "AlfaLaval Text";
  src:
    local("AlfaLaval Text"),
    url("/assets/fonts/AlfaLaval-Regular.woff2") format("woff2"),
    url("assets/fonts/AlfaLaval-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlfaLaval Text";
  src:
    local("AlfaLaval Text Bold"),
    url("/assets/fonts/AlfaLaval-Bold.woff2") format("woff2"),
    url("/assets/fonts/AlfaLaval-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AlfaLaval Text";
  src:
    local("AlfaLaval Text Italic"),
    url("/assets/fonts/AlfaLaval-Italic.woff2") format("woff2"),
    url("/assets/fonts/AlfaLaval-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
